@import '../../scss/var';
@import '../../scss/mixins';

.user-form {
  max-width: 400px;
  width: 100%;
  margin: 50px auto 50px auto;

  &__error {
    color: red;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }

  &__title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    word-break: keep-all;

    @include tablet {
      font-size: 25px;
    }

    @media (max-width: 400px) {
      font-size: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }

  &__current-step {
    font-size: 24px;
    font-weight: 500;
    text-align: center;

    @include tablet {
      font-size: 20px;
    }
  }

  &__btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__date-input {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 4px gray;
  }

  &__btn {
    color: white;
    background-color: $mainTextColor;
    padding: 15px 0;
    width: 90px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(49, 46, 255, 0.815);
    }

    &:last-child {
      margin-left: auto;
    }
  }

  &__select {
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 4px gray;
    overflow: hidden;

    option {
      width: 100%;
    }
  }

  &__select-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }

  &__select {
    width: 100%;
  }

  &__textarea {
    max-width: 100%;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
    height: 200px;
    box-shadow: 0 0 4px gray;
    resize: none;
    overflow-y: auto;
  }
}
