@import '../../scss/mixins';

.member-row {
  width: 100%;

  &__item {
    width: 25%;
    height: 150px;
    text-align: center;

    a {
      font-size: 20px;
      font-weight: 500;
      word-break: break-word;
      padding: 5px;

      @include tablet {
        font-size: 18px;
      }

      @media (max-width: 650px) {
        font-size: 16px;
      }

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }

    @media (max-width: 650px) {
      height: 100px;
    }

    @media (max-width: 480px) {
      height: 80px;
    }

    @media (max-width: 430px) {
      height: 50px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    font-size: 20px;
    word-wrap: break-word;
    font-weight: 500;
    padding: 5px;

    @include tablet {
      font-size: 18px;
    }

    @media (max-width: 650px) {
      font-size: 16px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}
