@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './var';
@import './mixins';

html,
body,
#root,
.app {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: $mainBackground;
  color: $mainTextColor;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table,
th,
td {
  border: 1px solid black;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 25px;

  @include tablet {
    max-width: 768px;
  }

  @include mobile {
    max-width: 360px;
  }
}
